{% extends "baseLayout.html" %}
{% load static %}

{% block content %}



<h1>Liste des Processeurs</h1>
<table class="table">
    <thead>
        <tr>
            <th scope="col">Marque</th>
            <th scope="col">Categorie</th>
            <th scope="col">Modele</th>
        </tr>
    </thead>
    {% for processeur in processeurs %}
    <tbody>
        <tr>
            <td>{{processeur.marque}}</td>
            <td>{{processeur.categorie}}</td>
            <td>{{processeur.modele}}</td>
            {% if user.is_superuser %}
            <td><a href="/pcMaker/processeur/delete/{{processeur.id}}"><button class="btn btn-danger mb-3">Supprimer</button></a></td>
            <td><a href="/pcMaker/processeur/update/{{processeur.id}}"><button class="btn btn-warning mb-3">Modifier</button></a></td>
            {% endif %}
        </tr>
    </tbody>
    {% endfor %}
</table>

{% if user.is_superuser %}

<h1>Ajouter un processeur</h1>

<form action="/pcMaker/processeur/" method="POST" class="card px-4 py-4">
    {% csrf_token %}
    {{ new_proco }}
    <button type="submit" id="submit" class="btn btn-success mt-3">Ajouter</button>
</form>

{% endif %}


{% endblock %}